<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Form</title>
</head>
<body>
    {% if mi_formulario.errors %}
    <p style="color: red "> Error en los datos</p>
    {% endif %}
    <h2>Form</h2>
    <form action="/cursosFormulario/" method="POST">
        {% csrf_token %}
        <table>
            {{mi_formulario.as_table}}
        </table>
        <button type="submit" value="Enviar">Enviar</button>
    </form>
</body>
</html>
