<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Formulario para cursos</h2>
    <form action="/cursosFormulario/" method="POST">
        {% csrf_token %}
        <p>Curso: <input type="text" name="curso"></p>
        <p>Camada: <input type="number" name="camada"></p>
        <button type="submit" value="Enviar">Enviar</button>
    </form>
</body>
</html>
